---
import BaseLayout from "../layouts/BaseLayout.astro";

import Card from "../components/Card.astro";
---

<BaseLayout title="Page Astro">
  <h1>Astro</h1>
  <Card title="Full" price="300" />
</BaseLayout>
